altgraph==0.17
Click==7.0
configparser==4.0.2
contextlib2==0.6.0.post1
enum34==1.1.9
externaldep==0.0.1
fire==0.2.1
importlib-metadata==1.5.0
modulegraph==0.18
mypkg==0.0.1
otherdep==0.0.1
otherpkg==0.0.1
pathlib2==2.3.5
pip-tools==4.5.0
requirements-parser==0.2.0
scandir==1.10.0
six==1.14.0
termcolor==1.1.0
treeshaker==0.0+0.none
zipp==1.2.0
